* {
    font-family: 'JetBrains Mono', monospace !important;
    scroll-behavior: smooth;
  }

body{
    background-color: #ffffff;
    font-weight: 400;
    text-align: center;
    color: #006d77;
}

h1{
    font-size: 2em;
    font-weight: 400;
    color: #e29578;
}

h2, h3, h4, h5, h6{
    font-weight: 400;
    color: #e29578;
}

p{
    font-size: 1.25em;
}

.portfolio-list{
    list-style-type: none;
  }

nav{
    color: #edf6f9;
    background-color:#006d77;
    width: 100%;
    padding: 1.5em;
}

nav a:link, nav a:visited, nav a:active{
    color: #edf6f9;
    text-decoration: none;
}
nav a:hover{
    color: #ffddd2;
    text-decoration: none;
}

iframe {
    width: 240px;
    height: auto;
    padding-top: 1em;
}

.paragraph-more-text{
    margin: auto;
    width: 60%;
    padding: 10px;
    display: inline-block;
    text-align: left;
}

.contact{
    text-align: center;
}
  
.block{
    list-style-type: square;
    display: inline-block;
    text-align: left;
  }

.copyright-info{
    font-weight: 100;
    font-size: 1em;
}

.picture-mini {
    height: 25px;
    width: auto;
    padding: 0.25em;
}

.picture-small {
    width: 240px;
    height: auto;
    padding: 1em;
}

.picture-medium {
    width: 400px;
    height: auto;
    padding: 1em;
}

#rounded-picture{
    border-radius: 50%;
}

a:link { /* unvisited link */
    color: #83c5be; }
a:visited { /* visited link */
    color: #006d77;
    }
a:hover { /* mouse over link */
    color: #ffddd2;
    }
a:active { /* selected link */
    color: #006d77;
    }

@media
(min-width: 576px) {
    .paragraph-more-text{
        margin: auto;
        width: 90%;
        padding: 10px;
        display: inline-block;
        text-align: left;
    }
}

@media
(min-width: 768px) {
    .paragraph-more-text{
        margin: auto;
        width: 75%;
        padding: 10px;
        display: inline-block;
        text-align: left;
    }
}

@media
(min-width: 992px) {
    .paragraph-more-text{
        margin: auto;
        width: 60%;
        padding: 10px;
        display: inline-block;
        text-align: left;
    }
}